<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="eposnowconnector" frontName="eposnowconnector">
            <module name="Wrightwaydigital_Enconnector"/>
        </route>
    </router>
<!--    <router id="standard">-->
<!--        <route id="configuration" frontName="configuration">-->
<!--            <module name="Eposnow_eposnow"  before="Magento_Backend"/>-->
<!--        </route>-->
<!--    </router>-->
</config>
